.footer p {
  color: #000;
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 15px;
  font-weight: 700;
}

.footer a {
  text-decoration: underline;
  color: #000;
}

.footer a:hover {
  color: blue;
  transition: 300ms ease-in-out;
}

#heartEntity {
  color: red;
  font-size: 25px;
}
